@font-face {
	font-family: 'Waltograph';
	src: url("../fonts/Waltograph/waltograph42.ttf");
	src: 
	url("../fonts/Waltograph/waltograph42.otf"),
	url("../fonts/Waltograph/waltograph42.eot"),
	url("../fonts/Waltograph/waltograph42.svg"),
	url("../fonts/Waltograph/waltograph42.woff");
}

@font-face {
	font-family: 'Schoolbell';
	src: url("../fonts/Schoolbell/Schoolbell.ttf");
	src: 
	url("../fonts/Schoolbell/Schoolbell.otf"),
	url("../fonts/Schoolbell/Schoolbell.eot"),
	url("../fonts/Schoolbell/Schoolbell.svg"),
	url("../fonts/Schoolbell/Schoolbell.woff");
}

.navbar-brand,
#navbar a,
.container button {
	font-family: 'Waltograph', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: x-large;
}

p {
	font-family: 'Schoolbell', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: xx-large;	
}

body {
	background-color: #0084b4;
}

.subscript {
	color: #fff;
}

#search .thumbnail {
	background: none;
	border: none;
}

#search .thumbnail input {
	font-family: 'Waltograph', Arial, sans-serif, FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: x-large;
	border-radius: 10px;
	border-width: 0;
	text-indent: 20px;
}

